---
title: Pagina testo semplice
heading: 'Chi siamo'
---


{{> header }}


<article class="entry entry--singleRow clearfix">

    <header class="entry__header bg-sample">
        <div class="entry__row">
            <div class="entry__header-inner">
                <h1 class="entry__title">
                    {{ heading }}
                </h1>
            </div>
        </div>
    </header>


    <div class="entry__row">

        <div class="entry__content">
            <div class="entry__text">
                <p>Gregorio Samsa, svegliandosi una mattina da sogni agitati, si trovò trasformato, nel suo letto, in un enorme insetto immondo. Riposava sulla schiena, dura come una corazza, e sollevando un poco il capo vedeva il suo ventre arcuato, bruno e diviso in tanti segmenti ricurvi, in cima a cui la coperta da letto, vicina a scivolar giù tutta, si manteneva a fatica. Le gambe, numerose e sottili da far pietà, rispetto alla sua corporatura normale, tremolavano senza tregua in un confuso luccichio dinanzi ai suoi occhi. Cosa m’è avvenuto? pensò.</p>
                <p>Non era un sogno. La sua camera, una stanzetta di giuste proporzioni, soltanto un po’ piccola, se ne stava tranquilla fra le quattro ben note pareti. Sulla tavola, un campionario disfatto di tessuti - Samsa era commesso viaggiatore e sopra, appeso alla parete, un ritratto, ritagliato da lui - non era molto - da una rivista illustrata e messo dentro una bella cornice dorata: raffigurava una donna seduta, ma ben dritta sul busto, con un berretto e un boa di pelliccia; essa levava incontro a chi guardava un pesante manicotto, in cui scompariva tutto l’avambraccio.</p>
                <p>Lo sguardo di Gregorio si rivolse allora verso la finestra, e il cielo fosco (si sentivano battere le gocce di pioggia sullo zinco della finestra) lo immalinconì completamente. Che avverrebbe se io dormissi ancora un poco e dimenticassi ogni pazzia? pensò; ma ciò era assolutamente impossibile, perché Gregorio era abituato a dormire sulla destra, ma non poteva, nelle sue attuali condizioni, mettersi in quella posizione. Per quanto si gettasse con tutta la sua forza da quella parte, tornava sempre oscillando sul dorso: provò per cento volte, chiuse gli occhi per non veder le sue zampine dimenanti, e rinunciò soltanto quando cominciò a sentire nel fianco un dolore sottile e sordo, ancora non mai provato. O Dio, pensava, che professione faticosa ho scelto! Ogni giorno su e giù in treno.</p>
            </div>
        </div>
    </div>
        

</article>

{{> footer }}