<article class="blurb">
    <h2 class="blurb__title">One District</h2>
    <p class="blurb__text">One District è il portale dedicato alle aziende in Italia, in Europa, nel mondo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt sapiente cumque quaerat excepturi facere! Ratione beatae, nam totam ut, maxime quis rem minus, sit optio cupiditate illo neque, explicabo dignissimos.</p>
    <a href="#" class="blurb__link">Scopri di più</a>
</article>