<article class="domanda">
    <p class="domanda__text">
        Inserisci qui il tuo testo.
    </p>
    <div class="domanda__aswer__list">

        <div class="domanda__answer domanda--textbox">
            <textarea class="domanda__textarea" placeholder="Scrivi qui la tua risposta max 25 righe"></textarea>
        </div>

    </div>
</article>