<article class="domanda">
    <p class="domanda__text">
        <a href="https://www.youtube.com/watch?v=vJG698U2Mvo">Guarda questo video e rispondi</a>. È passato un gorilla?
    </p>
    <div class="domanda__aswer__list">
        
        <div class="domanda__answer domanda__answer--radio">
            <input class="domanda__input" type="radio" name="gorilla" value="si" id="si">
            <label class="domanda__label" for="si">Sì</label>
        </div>

        <div class="domanda__answer domanda__answer--radio">
            <input class="domanda__input" type="radio" name="gorilla" value="no" id="no">
            <label class="domanda__label" for="no">No</label>
        </div>

    </div>
</article>