<article class="domanda">
    <p class="domanda__text">
        Perché?
    </p>
    <div class="domanda__aswer__list">
        <p class="domanda__answerSmall">Puoi selezionare più di una risposta:</p>

        <div class="domanda__answer domanda__answer--check">
            <input class="domanda__input" type="checkbox" name="checkIstaTags" value="Red" id="checkInstaRed">
            <label class="domanda__label" for="checkInstaRed">Lorem ipsum dolor sit amet</label>
        </div>

        <div class="domanda__answer domanda__answer--check">
            <input class="domanda__input" type="checkbox" name="checkIstaTags" value="Blue" id="checkInstaBlue">
            <label class="domanda__label" for="checkInstaBlue">Consectetur adipisicing elit</label>
        </div>

        <div class="domanda__answer domanda__answer--check">
            <input class="domanda__input" type="checkbox" name="checkIstaTags" value="Green" id="checkInstaGreen">
            <label class="domanda__label" for="checkInstaGreen">Labore et dolore magna aliqua</label>
        </div>

        <div class="domanda__answer domanda__answer--check">
            <input class="domanda__input" type="checkbox" name="checkIstaTags" value="Yellow" id="checkInstaYellow">
            <label class="domanda__label" for="checkInstaYellow">Per fare un titolo H1 usando la sintassi markdown</label>
        </div>

    </div>
</article>