<article class="domanda">
    <p class="domanda__text">
        Come?
    </p>
    <div class="domanda__answer-list">
        <p class="domanda__answerSmall">Segli una sola risposta tra queste:</p>
        <div class="domanda__answer domanda__answer--radio">
            <input class="domanda__input" type="radio" name="istaTags" value="Red" id="instaRed">
            <label class="domanda__label" for="instaRed">Ut enim ad minim veniam.</label>
        </div>

        <div class="domanda__answer domanda__answer--radio">
            <input class="domanda__input" type="radio" name="istaTags" value="Blue" id="instaBlue">
            <label class="domanda__label" for="instaBlue">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</label>
        </div>

        <div class="domanda__answer domanda__answer--radio">
            <input class="domanda__input" type="radio" name="istaTags" value="Green" id="instaGreen">
            <label class="domanda__label" for="instaGreen">Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</label>
        </div>

        <div class="domanda__answer domanda__answer--radio">
            <input class="domanda__input" type="radio" name="istaTags" value="Yellow" id="instaYellow">
            <label class="domanda__label" for="instaYellow">Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>
        </div>

    </div>
</article>