<footer class="footer">
    <p class="footer__text">
        One District &mdash; Via del sample 1, Roma &mdash; 06 123456 <a href="mailto:info@od.it" class="footer__link">info@od.it</a> 
    </p>
</footer>