<article class="login">
    
    <h2 class="login__title"><span class="typcn typcn-key-outline"></span>Login</h2>
    <form class="form form--login" action="#">
        <div class="form__item">
            <label>
                Email
                <input type="email" class="form__input text">
            </label>
        </div>

        <div class="form__item">
            <label>
                Password
                <input type="password" class="form__input text">
            </label>
        </div>
        
        <button class="form__button tiny expand">
            Log in
        </button>

        <p class="form__text">
            Non hai un account? <a href="#" class="form__link">Registrati</a>
        </p>

    </form>

</article>