<article class="sample--notActive sample">
    <div class="sample__img-container">
        <img src="{{assets}}/images/sample3.jpg" alt="sample Img" class="sample__img">
    </div>
    <div class="sample__inner">
        <h2 class="sample__title">Titolo di esempio 4</h2>
        <a href="../sample.html" class="button tiny expand sample__button"><span class="typcn typcn-cancel"></span> Non disponibile</a>
    </div>
</article>