<article class="sample">
    <div class="sample__img-container">
        <img src="{{assets}}/images/sample1.jpg" alt="sample Img" class="sample__img">
    </div>
    <div class="sample__inner">
        <h2 class="sample__title">Frutta e verdura</h2>
        <a href="../sample.html" class="button tiny expand sample__button"><span class="typcn typcn-ticket"></span> Richiedi</a>
    </div>
</article>