//corporate colors
$totBlue: #004e9c;
$totSky: #009ee0;

//basic colors
$black: #222;
$white: #fff;

//blue tones
$blue: #2980b9;
$blueD: #34495e;
$blueDD: #2c3e50;

//grey tones
$grey: #ecf0f1;
$greyD: #bdc3c7;
$greyDD: #363636;

//complementary colors
$green: #16a085;
$turquoise: #1bc09f;
$yellow: #f1c40f;

$red: #e74b3b;
$redD: #cc3d36;

$purple: #9b59b5;
$purpleD: #8d43ad;

$orange: #f39b11;
$orangeD: #e57d21;

$sample: $blueDD;
$webinar: $green;
$enroll: $orange;
$completed: $orangeD;
$notActive: $greyD;
